body {
    background-color: #d3d3d3;
    font-family: "Lato";
    font-weight: 300;
    font size: 16 px;
    color: #555;
    -webkit-font-smoothing: antialisased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 530;
    color: #000000;
}

p {
    font-family: "Times New Roman";
    line-height: 28px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 18px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
}

    a:hover, a:focus {
        color: #7b7b7b;
        text-decoration: none;
        outline: 0;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

    .navbar-inverse .navbar-nav > .active > a {
        background-color: "white";
    }

    .navbar-inverse .navbar-brand {
        color: #999;
        font-weight: bolder;
        font-size: 22px;
        letter-spacing: 1px;
    }

.row div {
    background-color: #FFFAFA;
    max-height: 490px;
}

.col-lg-7 {
    padding-top: 8%;
    padding-left: 10%;
    background-color: #FFFAFA;
}

.row {
    border-top: groove;
}

